.body-div{
padding-left: 50px;
padding-right: 50px;
}
.container-div{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    border: solid 1px rgb(220, 214, 214);
    border-radius: 5px;
    padding-left:10px;
    padding-right: 10px;
    height: 440px;
    margin-bottom: 30px;
}
.top-div{
display: flex;
justify-content: start;
row-gap: 1px;
font-size: 10px;
margin-bottom: 15px;
border-bottom: rgb(230, 218, 218) solid 1px;
padding-bottom: 15px;
padding-top: 15px;

}
.bottom-div{
display: flex;
flex-direction: column;
justify-content:space-between;
font-size: 12px;
height: 100%;
padding-bottom:35px;

}
.bottom-div span{
    font-weight:600
}
.buttom-div{

}
.button1{
    background-color: rgb(154, 152, 152);
    color: white;
    padding: 7px 7px;
    border-radius: 3px;
    border:none;
    text-decoration: none;
}
.button2 {
    background-color: rgb(75, 75, 255);
    color: white;
    padding: 7px 7px;
    border-radius: 3px;
    border: none;
    text-decoration: none;
}
.button3 {
    background-color: red;
    color: white;
    padding: 7px 7px;
    border-radius: 3px;
    border: none;
    text-decoration: none;
}
