.login-header {
    background-color: rgb(2, 7, 111);
    height: 70px;
    display: flex;
    margin-bottom: 20px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
}


.left {
    display: flex;
    /* background-color:#b21414; */
    height: 100%;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    color: white;
    font-size: 15px;
}

.right {
    flex: 1;
}

.project {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.register,
.login {
    color: white;
    text-decoration: none;
}

.body-div {
    display: flex;
    justify-content: center;
    height: 700px;
}

.main-div {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 500px;
    background-color: rgb(241, 238, 238);
    border-radius: 4px;
    margin-top: 180px;

}

.div1 {
    display: flex;
    justify-content: center;
    /* align-items: start; */
    flex-direction: column;
    border-bottom-color: rgb(211, 201, 201);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-top: 10px;
    margin-bottom: 40px;
    height: 100px;
    /* padding-left: 50px; */
    padding-right: 120px;
    /* margin-left: 30px;
    margin-right: 20px; */
    /* background-color: yellow; */
}

.div2{
    margin-bottom: 30px;
    width: 100%;
}

.input-class {
    margin-top: 3px;
    margin-bottom: 3px;
    height: 25px;
    width: 400px;
    border-radius: 4px;
    border: 5px rgb(177, 172, 172) solid;

}

.form-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.create {
    font-size: 30px;
    margin-bottom: 10px;
}
.create-button {
    background-color: rgb(2, 7, 111);
    padding-top: 8px;
    padding-bottom:8px;
    /* padding-right:188px;
    padding-left: 188px; */
    color: white;
    width: 100%;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}


/* .create-button:hover{
    cursor: pointer;
} */


.sub-main-div2 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.a-login-class {
    color: rgb(31, 193, 193);
    margin-top: 25px;
}



.login-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.login-div p{
    margin-top:10px
}