<!DOCTYPE html>
<html>
    <head>
        <title>CRUD</title>

        <link rel="stylesheet" href="../static/assets/css/index.css">

        <link rel="stylesheet" href="../static/assets/css/general.css">

    </head>
    <body>
        <div class="index-header">
            <div class="left">
                <a class="project" href="">ProjectX</a>
                <a class="register" href="register">Register</a>
                <a class="login" href="login">Login</a>
            </div>
            <div class="right"></div>
        </div>


        <div class="middle-div">
            <div class="center">
                <p class="manage">ProjectX.... Management at it's finest!</p>
                <div class="keep-div">
                    <p class="keep">Keep track of your records effictively. </p>
                </div>
            </div>
        </div>
        <div class="buttom">

                <a href="register" class="create-botton">create your account</a>
            
        </div>
    </body>
</html>          